# ===================================================================
# artellapipe-tools-alembicmanager requirements file
# ===================================================================

artellapipe-core